name: Deploy to Hugging Face

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.9"

    - name: Install compatible huggingface_hub
      run: pip install --upgrade huggingface_hub==0.20.3

    - name: Install Gradio
      run: pip install --upgrade gradio==4.44.1

    - name: Log in to Hugging Face
      env:
        HF_TOKEN: ${{ secrets.hf_token }}
      run: |
        python -c "from huggingface_hub import login; login(token='${HF_TOKEN}')"

    - name: Deploy to Spaces
      run: gradio deploy
